{% extends 'PanelAdmin.html' %}
{% load static %}
{% load pwa %}
{% block title %} <title>Charge payments</title> {% endblock %}
{% block content %}
<section class="back">
    <div class="container">
        <a href="/admin666/">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16" style="margin-top: 15px; margin-left: 10px; color: black;">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
        </a>
    </div>
</section>
<section class="payments" style="margin-top: 20px;">
    <div class="container">
        <h1 style="color: rgb(0, 0, 0);">Charge payments</h1>
        <div class="all-information">
            {% if not vouchers %}
                <p class="p-voucher">No vouchers</p>
            {% else %}
                {% for voucher in vouchers %}
                    <div class="col-md-4">
                        <div class="information" style="display: flex; flex-direction: column; margin: 20px 30px; justify-content: center; align-items: center; text-align: center;">
                            <p style="color: rgb(0, 0, 0);">Date: <span style="font-weight: bold;">{{voucher.date}}</span></p>
                            <input type="checkbox" id="expand-trigger">
                            <label for="expand-trigger">
                                <img src="{{voucher.voucher.url}}" alt="{{voucher.id}}" class="img-voucher expandable-image">
                            </label>
                            <form action="{% url 'deleteVoucher' voucher.id %}" method="post">{% csrf_token %}
                                <button type="submit" style="margin-top: 10px; margin-bottom: 20px;" class="btn btn-danger">Delete Voucher</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const expandableImages = document.querySelectorAll('.expandable-image');
        expandableImages.forEach(function(image) {
            image.addEventListener('click', function() {
                this.classList.toggle('expanded');
            });
        });
    });
</script>
{% endblock %}