{% extends 'base.html' %}
{% load static %}
{% load pwa %}
{% block title %} <title>Bethel Excursions</title> {% endblock %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
            <p style="font-size: 17px; font-weight: bold;">{{ message }}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    <div class="modal fade login-margin" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'Login' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Usuario</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="mb-3">
                            <p class="text-center">¿No eres miembro? <a href="{% url 'Register' %}" style="text-decoration: none; color: rgb(0, 47, 255);">Registrate</a></p>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="view_information">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <h1 class="text-center mt-2">Mira antes de reservar</h1>
            <a href="/gallery/" class="btn btn-black" style="text-decoration: none;">Conoce más del viaje</a>
        </div>
    </section>
    {% if user.is_authenticated %}
        <main class="upload">
            <div class="container">
                <h1 style="color: white;">Subir el comprobante</h1>
                <p style="color: white; font-size: 18px; text-shadow: 0px 0px 3px white;">Si quieres subir un comprobante, por favor, haz click en el botón <span style="color: rgb(0, 89, 255); font-weight: bold; text-shadow: 0px 0px 7px black;">"Subir"</span></p>
                <a href="upload/" class="btn btn-black" style="text-decoration: none;">Subir</a>
            </div>
        </main>
        <section class="view-payments">
            <div class="container">
                <h1 style="color: white;">Ver pagos</h1>
                <p style="color: white; font-size: 18px; text-shadow: 0px 0px 3px white;">Si quieres ver los pagos, por favor, haz click en el botón <span style="color: rgb(0, 89, 255); font-weight: bold; text-shadow: 0px 0px 10px rgb(0, 0, 0);">"Ver mis pagos"</span></p>
                <a href="{% url 'Payments' %}" class="btn btn-black" style="text-decoration: none;">Ver mis pagos</a>
            </div>
        </section>
    {% else %}
        <main class="upload">
            <div class="container">
                <h1 style="color: white;">Subir el comprobante</h1>
                <p style="color: white; font-size: 18px; text-shadow: 0px 0px 3px white;">Si quieres subir un comprobante, por favor, haz click en el botón <span style="color: rgb(0, 89, 255); font-weight: bold; text-shadow: 0px 0px 7px black;">"Subir"</span></p>
                <button data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-black">Subir</button>
            </div>
        </main>
        <section class="view-payments">
            <div class="container">
                <h1 style="color: white;">Ver pagos</h1>
                <p style="color: white; font-size: 18px; text-shadow: 0px 0px 3px white;">Si quieres ver los pagos, por favor, haz click en el botón <span style="color: rgb(0, 89, 255); font-weight: bold; text-shadow: 0px 0px 10px rgb(0, 0, 0);">"Ver mis pagos"</span></p>
                <button data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-black">Ver mis pagos</button>
            </div>
        </section>
    {% endif %}
{% endblock %}