{% extends 'base.html' %}
{% load static %}
{% load pwa %}
{% block title %} <title>Perfil</title> {% endblock %}
{% block content %}
<section class="profile" style="height: auto;">
    <div class="container">
        <div class="header-profile">
            <h1 class="mt-3">Perfil</h1>
        </div>
        <div class="card-profile mb-4">
            <div class="card-body">
                <p class="card-text"><strong>Nombre:</strong> <span class="span-black">{{ user.first_name }}</span></p>
                <p class="card-text"><strong>Apellidos:</strong> <span class="span-black">{{ user.last_name }}</span></p>
                <p class="card-text"><strong>Usuario:</strong> <span class="span-black">{{ user.username }}</span></p>
                <p class="card-text"><strong>Email:</strong> <span class="span-black">{{ user.email }}</span></p>
                
                {% if not request.user.is_superuser %}
                <p class="card-text"><strong>Personas:</strong> <span class="span-black">{{ moreInformation.people }}</span></p>
                <p class="card-text"><strong>Asiento:</strong> 
                    {% for asiento in asientos %}
                        {% if not asiento.companion %}
                            <span class="span-black">{{ asiento.bus.nombre }} - Asiento {{ asiento.numero }}</span><br>
                        {% endif %}
                    {% endfor %}
                </p>
                {% if companions %}
                    {% for companion in companions %}
                        <p class="card-text mt-3"><strong>Acompañante:</strong> <span class="span-black">{{ companion.name }}</span></p>
                        {% if rooms_reserved_companion %}
                            {% for companion_id, room_companion in rooms_reserved_companion.items %}
                                {% if companion.id == companion_id %}
                                    <p class="card-text"><strong>Habitación del acompañante:</strong> <span class="span-black">#{{ room_companion.number }}</span></p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <p class="card-text"><strong>Asiento del acompañante:</strong> 
                            {% for asiento in asientos %}
                                {% if asiento.companion == companion %}
                                    <span class="span-black">{{ asiento.bus.nombre }} - Asiento {{ asiento.numero }}</span>
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endfor %}
                {% endif %}
                <p class="card-text mt-3"><strong>Habitación exclusiva:</strong> <span class="span-black">{{ moreInformation.vip|yesno:"Sí,No" }}</span></p>
                <p class="card-text"><strong>Fecha del viaje:</strong> <span class="span-black">{{ moreInformation.date_of_travel.first_date }} al {{ moreInformation.date_of_travel.second_date }}</span></p>
                {% if paid %}
                <p class="card-text"><strong>Monto pagado:</strong> <span class="span-black">${{ paid.totalPaid }}</span></p>
                {% endif %}
                <p class="card-text"><strong>Deuda:</strong> <span class="span-black">${{ total_paid }}</span></p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
