{% extends 'base.html' %}
{% load static %}
{% load pwa %}
{% block title %} <title>View payments</title> {% endblock %}
{% block content %}
<section class="payments">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
                <p style="font-size: 17px; font-weight: bold;">{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <h1 style="color: rgb(0, 0, 0);">Ver mis pagos</h1>
        <div class="all-information">
            {% if not vouchers %}
                <p class="p-voucher">No hay comprobantes</p>
            {% else %}
                {% for voucher in vouchers %}
                    <div class="col-md-4">
                        <div class="information" style="display: flex; flex-direction: column; margin: 20px 30px; justify-content: center; align-items: center; text-align: center;">
                            <p style="color: rgb(0, 0, 0);">Fecha: <span style="font-weight: bold;">{{voucher.date}}</span></p>
                            <input type="checkbox" id="expand-trigger">
                            <label for="expand-trigger">
                                <img src="{{voucher.voucher.url}}" alt="{{voucher.id}}" class="img-voucher expandable-image">
                            </label>
                            <form action="{% url 'deleteVoucher' voucher.id %}" method="post">{% csrf_token %}
                                <button type="submit" style="margin-top: 10px; margin-bottom: 20px;" class="btn btn-danger">Borrar comprobante</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const expandableImages = document.querySelectorAll('.expandable-image');
        expandableImages.forEach(function(image) {
            image.addEventListener('click', function() {
                this.classList.toggle('expanded');
            });
        });
    });
</script>
{% endblock %}